*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.card{
    border: 1px solid blueviolet;
}
#editprofile{
    width: 80px;
    height: 80px;
    border-radius: 50%;

}

#camera{
    width: 16px;
    height: 16px;
}