*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
#divBrand>h1>a{
    color: blueviolet;
}

.nav-ul{
    list-style: none;
    display: inline-flex;
    padding: 7px 0;
}
.nav-ul>li{
    margin-left: 10px;
    margin-right: 10px;
}
a{
    text-decoration: none;
}
strong{
    color: blueviolet;
}

#imageCard{
    border-radius: 20px;
    border: 1px solid blueviolet;
}
.div1{
    background: url(../imageAnimation/kuma.JPG);
    background-size: cover;
    height: 350px;
}
.div2{
    background: url(../imageAnimation/kuma.JPG);
    background-size: cover;
    height: 350px;
}
.div3{
    background: url(../imageAnimation/kumasignup.JPG);
    background-size: 600px;
    height: 350px;
}
.div4{
    background: url(../imageAnimation/kuma.JPG);
    background-size: 350px;
    height: 350px;
}
.div5{
    background: url(../imageAnimation/kuma.JPG);
    background-size: 350px;
    height: 350px;

}

#card1{
    margin-bottom: 20px;
    opacity: 0;
    transform: translateX(-50%);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
#card2{
    margin-bottom: 20px;
    opacity: 0;
    transform: translateX(50%);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
#card3{
    margin-bottom: 20px;
    opacity: 0;
    transform: translateX(-50%);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
#card4{
    margin-bottom: 20px;
    opacity: 0;
    transform: translateX(50%);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
#card5{
    margin-bottom: 20px;
    opacity: 0;
    transform: translateX(-50%);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}





  

