*{
    box-sizing: border-box;
}
body{
    filter: drop-shadow(0.2);
    margin: 0;
}
.navbar{
    justify-content: space-between;
}
.brand{
    color: blueviolet;
    margin-left: 20px;
}
.navbar-left{
    display: flex;
    float: right;
    padding: 20px 10px;
    transition: 0.4s;
    
    
}
a{
    text-decoration: none;
}
#profile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.navbar-left ul{
    list-style-type: none;
    margin-right: 30px;
}
.navbar-left>ul>li{
    margin-right: 5px;
    margin-top: 20px;
}
.navbar-left>ul>li>a{
    text-decoration: none;
}
.toggle{
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    cursor: pointer;
}