.divFile{
    position: absolute;
    float: right;
    margin-left: 84%;
}
.publish{
    border: 1px solid blueviolet;
    padding: 7px;
}
#text{
    width: 85%;
}
#file{
    width: 30px;
    height: 29px;
    margin-top: -29px;
    opacity: 0;
}
#btnPublish{
    background: blueviolet;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 6px 9px;    
}
#btnPublish:hover{
    background: rgb(150, 58, 237);
    color: white;
}
#imageIcon{
    /* display: flex; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-self: right;
}

.divHeadPost{
    display: flex;
    justify-content: space-between;
}
.divFooterPost{
    display: flex;
    justify-content: space-between;
}
.divFooterPost>button{
    border: none;
    background: transparent;
}
.card{
    border-radius: 20px;
}
.formComment{
    margin-left: 7%;
    margin-right: auto;
    display: flex;
    width: 80%;
    margin-top: 6px;
    margin-bottom: 4px;
}
.inputComment{
    position: relative;
    width: 100%;
}
.submitComment{
    width: 22px;
    position: absolute;
    border: none;
    opacity: 0;
    margin-top: 5px;
    margin-left: 5px;
    color: black;
    display: flex;
}
#PostID{
    display: none;
}
#error{
    color: red;
}
#comment{
    background: url(../imageAnimation/comment.png) no-repeat;
    width: 32px;
    height: 32px;
    border: none;
    margin-top: 2px;
}
#iconSubmit{
    margin-top: 5px;
    font-size: 22px;
    display: flex;
    position: absolute;
    margin-left: 5px;
}
.commentsPost{
    display: none;
}