*{
    box-sizing: border-box;
}
body{
    filter: drop-shadow(0.2);
    margin: 0;
}
.navbar{
    background: gainsboro;
    justify-content: space-between;
}
.brand{
    color: blueviolet;
    margin-left: 20px;
}
.navbar-left{
    display: flex;
    float: right;
    padding: 50px 10px;
    background: gainsboro;
    z-index: 1000;
    position: static;
    transition: 1.1s;
    display: none;
    box-shadow: -1px 1px 4px black;
    height: 100%;
    
    
}
.navbar-left ul{
    list-style-type: none;
    margin-right: 30px;
}
.navbar-left>ul>li{
    margin-right: 5px;
    margin-top: 20px;
}
.navbar-left>ul>li>a{
    text-decoration: none;
}
.toggle{
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    cursor: pointer;
}
.toggle>span::after{
    content: "";
    position:relative;
    display: flex;
    margin-top: 8px;
    background: gray;
    width: 30px;
    height: 2px;
}